<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rockstartraders.covidtrackv2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Covid Track V2</name>
    <description>
        A simple Covid Tracker Application made using HTML, CSS, JS and bunch of js libraries and API's and have it complied using Cordova after.
    </description>
    <author email="jamespaulespea@gmail.com" href="https://github.com/rockstartraders">
        @rockstartraders via GITHUB
    </author>  
    <icon src="www/icon/Covid_Track.png" />
    <content src="index.html" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF"/>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>   
</widget>
